*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.outer>h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    /* font-weight: bold; */
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.outer>.box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /* transition: all 3s linear 1s; */
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    /* transition-delay: 1s; */
}
.outer>.box:hover{
    border-radius: 50%;
    background-color: deeppink;
}