*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 85%;
    width: 85%;
    background-color: brown;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: white;
    border: 15px;
    height: 300px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 0 0 12px black;
    border: none;
    cursor: pointer;
    transition: all 2s ease-in; 
}

.outer>.inner>.box:hover{
    background-color: cadetblue;
    /* transform: skew(360deg); */
    transform: rotate(360deg);
    /* transform: translate(-200px,0); */
    /* transform: translate(0,-200px); */
    /* transform: translate(-100px,-100px); */
    /* transform: translate(-100px,100px); */
    /* transform: scale(1.5); */
}