*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outer{
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: auto;
}

.card{
    height: 300px;
    width: 200px;
    display: flex;
    gap: 30px;
    
   
}
.card>img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    transition: all 1s ease-in;
    cursor: pointer;
    
}
.card>img:hover{
   transform: scale(1.2); 
}
::-webkit-scrollbar{
    display: none;
}